* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color1: #764100;
  --color2: #985484;
  --color3: #ffffff;
}
body {
  background-color: var(--color3);
}

/* header */
header .nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav {
  background-color: #ffffffde;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  padding: 0;
}
.Logo img {
  width: 130px;
}

/* bienvenida + Encargues*/
.bienvenida {
  padding: 4em;
}
.text-encargues {
  text-align: center;
  padding-top: 1.7em;
  margin-top: 2em;
  margin-bottom: .5em;
}
.text-discos{
  text-align: center;
  padding-top: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.text-encargues b, .text-discos b {
  color: var(--color1);
  font-size: 1.3em;
  font-family: "Playfair Display", serif;
}
.img-hombre img {
  text-align: center;
  width: 100%;
}

.formularios h4 {
  text-align: center;
}
.formularios {
  padding: 0.8em;
  box-shadow: -2px 10px 43px -3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -2px 10px 43px -3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -2px 10px 43px -3px rgba(0, 0, 0, 0.42);
  border-radius: 0.5em;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #fdf3eb 100%);
}
.finalizar {
  margin-top: 1em;
}
.mensaje-pedido {
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  color: #764100;
  padding: 1em;
}
/* discos */
.gal {
  margin: 3em auto;
  text-align: center;
}
.gal__prod {
  margin-bottom: 1em;
  margin-top: 1em;
}
.gal__item {
  margin: 1.5em auto;
  padding: 0 2em;

}
.gal__item div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  padding-bottom: 0.5em;
  box-shadow: 5px 5px 6px #696969;
}
.gal__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.gal__item h4 {
  font-size: 1.4em;
}

/* carrito */
.icono-carrito{
  color:#000000;
  font-size: 1.2em;
  padding-right: 2em;
}
.contenedor-carrito {
  padding: 1.5em;
}
.img-carrito img {
  width: 5em;
}
.img-carrito {
  text-align: center;
}
.cont-eliminar {
  text-align: center;
}
.btn-eliminar {
  color:red;
  border-style: none;
}

/* calculadora cuotas */
.cont-calc{
  background-color: #303030;
}
.formulario-calc{
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: .8em;
}
.text-calculo{
  text-align: center;
  padding-top: 1.7em;
  margin-top: 2.5em;
}
.text-calculo b{
  color: var(--color3);
  font-size: 1.3em;
  font-family: "Playfair Display", serif;
}
.img-calc{
  text-align: center;
}
.mas-interes {
  padding-top: 1em;
}
.pago {
  margin-top: 5em;
  margin-bottom: 8em;
}
.result {
  color: var(--color1);
}

/* conciertos */
.cont-concerts{
  margin-bottom: 8em; 
}
.cont-cards{
  margin-top: 1.5em;
}
.cont-cards .card{
  box-shadow: 5px 5px 6px #696969;
}
/* footer */

.pie-pagina {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 53%
  );
}
.pie-pagina .grup-1 {
  background-position: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 2.5em 0;
}
.box {
  display: flex;
  justify-content: center;
}
.box-b {
  text-align: center;
}

.pie-pagina .grup-1 .box figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grup-1 .box h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  color: #764100;
  font-size: 20px;
}
.pie-pagina .grup-1 .box p {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: #c4710c;
  margin-bottom: 10px;
}
.pie-pagina .grup-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #c4710c;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grup-1 .red-social a:hover {
  color: #ffffff;
}

.pie-pagina .grup-2 {
  background-color: #303030;
  padding: 15px 10px;
  text-align: center;
  color: #c4710c;
}
.pie-pagina .grup-2 small {
  font-size: 15px;
}

/* Fin Footer */
